@font-face {
  font-family: "century-gothic";
  src: local("century-gothic"), local("CenturyGothic"),
    url("../assets/fonts/century-gothic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/century-gothic.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/century-gothic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/century-gothic.svg#CenturyGothic") format("svg"); /* Legacy iOS */
}

html,
body {
  margin-top: 10em;
  margin-left: 0em !important;
  overflow: auto;
  zoom: 100% !important;
  font-family: "century-gothic", Century Gothic, "Century Gothic", CenturyGothic,
    "CenturyGothic", AppleGothic !important;
}

.bodyContainer {
  margin-top: 8em;
  padding-left: 20em;
  padding-right: 5em;
  height: 80vh;
}

.ui .segment {
  height: 90% !important;
}

.ui .segment .dimmable {
  width: 100%;
}

.ui .segment .inputSegment {
  width: 100%;
}

.ui .grid .submitGrid {
  display: flex;
}

.ui .grid .row .submitRow {
  margin-bottom: 3em;
  margin-top: 0;
  justify-content: center;
}

.ui .segment .subSegmentBody {
  margin-top: 5em;
  width: 100%;
}
