@font-face {
  font-family: "century-gothic";
  src: local("century-gothic"), local("CenturyGothic"),
    url("../assets/fonts/century-gothic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/century-gothic.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/century-gothic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/century-gothic.svg#CenturyGothic") format("svg"); /* Legacy iOS */
}
body {
  margin: 0;
  font-family: "century-gothic", Century Gothic, "Century Gothic", CenturyGothic,
    "CenturyGothic", AppleGothic !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  padding-top: 6.5em !important;
  background-color: rgb(231, 231, 231) !important;
  zoom: 100% !important;
}
