html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

.login-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/LbaSense_Bg_login.jpg") no-repeat center
    center fixed;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.ui.segment {
  width: 90%;
  height: 22em !important;
  padding: 2em 3em 4em 3em;
  margin-bottom: 1em !important;
}

.inline {
  display: flex;
  flex-direction: row;
}

label {
  align-self: center;
}

.ui.input {
  display: inline-flex;
  margin-left: 2em;
  width: 23em !important;
  background-color: white !important;
}

.ui.fluid.dropdown {
  display: inline-flex;
  margin-left: 2em;
  width: 23em !important;
}

.ui.button {
  margin-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

.ui.message {
  margin-top: 3.5em;
}

.loginBox {
  width: auto;
  min-width: 30%;
  min-height: 30%;
  background-color: rgba(240, 239, 239, 0.94);
  border-radius: 0.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.row {
  padding: 0 !important;
}
